<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Vytex</title>
        <link rel='stylesheet' href='./styles/reset.css'>
        <link rel='stylesheet' href='./styles/variables.css'>
        <link rel='stylesheet' href='./styles/breakPoints.css'>
        <link rel='stylesheet' href='./styles/global.css'>
        <link rel='stylesheet' href='./styles/header.css'>
    </head>
    <body>
        <header>
            <div class="hContainer">
                <div class="hamburgerMenuBContainer">
                    <div class="placeholder" style="background-color: green;"></div>
                </div>
                <div class="logoBContainer">
                    <h1 class="logoB">Vytex</h1>
                </div>
                <div class="profileBContainer">
                    <div class="profileB">
                        <img src="./assets/profileButtonPlaceholder.jpg">
                    </div>
                </div>
            </div>
        </header>
        <main>
        </main>
        <script type='text/javascript' src='./src/index.js'></script>
    </body>
</html>