<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>VYTEX</title>
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/variables.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/breakPoints.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/userlogin.css') }}">
        
    </head>
    <body>
        <div class="loginImg"></div>
        <div class="heroImgShadowbox"></div>
        <div id="HamburgerMenu">
            <div id="HMContainer">
                <div id="CloseWindowX">X</div>
                <div id="LinkContainer">
                    <a href="/home">Join a Line</a>
                    <a href="/userLines">Check your lines</a>
                    <a href="/contact">Contact Us</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <a id="HMOffscreen"></a>
        </div>
        <div id="ResetMenu">
            <div id="ResetContainer" class="ResetContainerClass">
                
                <div id="CloseWindowX2">X</div>
                <div id="ResetTitleContainer">
                    <h1 id="ResetTitleFont">Forgot Password?</h1>
                </div>
                <div id="ResetInfoContainer">
                    <h6 id="ResetWindowFont">Your Email</h6>
                    <div class="emailInput">
                        <form class="ResetInputF">
                            <input class="textInput" type="text" placeholder="Please Enter Your Email">
                        </form>
                    </div>
                    <h6 id="ResetWindowFont">Your Old Password</h6>
                    <div class="oldpasswordInput">
                        <form class="ResetInputF">
                            <input class="textInput" type="text" placeholder="Old Password">
                        </form>
                    </div>
                    <h6 id="ResetWindowFont">Your New Password</h6>
                    <div class="newpasswordInput">
                        <form class="ResetInputF">
                            <input class="textInput" type="text" placeholder="New Password">
                        </form>
                    </div>
                    <button class="btn launch">Launch</button>


                

                </div>
        
            </div>
            <a id="ResetOffscreen"></a>
        </div>
        <header>
            <div class="hContainer">
                <div class="hamburgerMenuBContainer">
                    <div id="hamburgerB">
                        <div class=hbm></div>
                        <div class=hbm></div>
                        <div class=hbm></div>
                    </div>
                </div>
                <div class="logoBContainer">
                    <h1 class="logoB">Vytex</h1>
                </div>
                <div class="profileBContainer">
                    <div class="profileB">
                        <a href="/profile">
                            <img src="{{ image_file }}">
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <main class="wrapper">
                <div id="content1">
                     
                </div>
                <div id="content2">
                    <h2 class="loginTitle">WELCOME BACK</h2>
                </div>
                <div id="content1">
                     
                </div>
                <div id="content1">
                     
                </div>
                <div id="content2">
                    ...
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}
{% block content %}
                    <form method="POST" action="/login">
                        
                        <div class="usernameInput">
                                
                            <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                                
                        </div>
                        <div class="passwordInput">
                                
                            <input class="input is-large" type="password" name="password" placeholder="Your Password">
                               
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                    
                        <div id="content2">
                            <div class="Logincontainer">
                                <button class="btn login">Login</button>
                            </div>
                        </div>
                    </form>
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
{% endif %}
{% endwith %}
                    <form method="POST" action="/signup">
{% endblock %}
                        </div>
                        <div id="content1">
                            
                        </div>
                        <div id="content1">
                            
                        </div>
                    
                        <div id="content2">
                            <div class="Signupcontainer">
                                <a href="/Create/index.html">
                                    <button class="btn signup">Sign Up</button>
                                </a>
                            </div>
                        </div>

                        <div id="content1">
                            
                        </div>

                        <div id="content3">
                        
                        </div>

                        <div id="content4">
                        
                        </div>

                        <div id="content5">
                        
                        </div>
        </main>
        <script type='text/javascript' src="{{ url_for('static',    filename='./src/index.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static',    filename='./src/login.js') }}"></script>
    </body>
</html>