<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Oops!</title>
        <link rel="icon" href="{{ url_for('static',    filename='assets/android-chrome-192x192.png') }}" type="image/png" sizes="192x192">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/variables.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/breakPoints.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/lineList.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/userLines.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap"> 
    </head>  
    <body>
        <div class="hero-img"></div>
        <div class="hero-img-shadow-box"></div>
        <div id="venue-card-shadow-box"></div>
        <div id="venue-card-container">
            <div id="venue-card">
                <div class="venue-img" id="venue-card-img"></div>
                <div id="venue-card-info-container">
                    <div id="venue-card-name">Venue Not Found</div>
                    <div id="venue-card-hours">8am - 10pm</div>
                    <div id="venue-card-link"><a id="venue-card-link-a" href="">Check Out Their Website for more info</a></div>
                </div>
            </div>
            <div id="venue-card-description">Please close this window and select another venue. If this problem continues 
                please reach out and let us know at CustomerService@Vytex.com</div>
            <div id="venue-card-button"><a>Get In Line</a></div>
            <div id="close-window-x-venue">X</div>
        </div>
        <div id="hamburger-menu">
            <div id="hm-container">
                <div id="close-window-x">X</div>
                <div id="link-container">
                    <a href="/home">Join a Line</a>
                    <a href="/userLines">Check your lines</a>
                    <a>Contact Us</a>
                    <a>Logout</a>
                </div>
            </div>
            <a id="hm-offscreen"></a>
        </div>
        <header>
            <div class="h-container">
                <div class="hamburger-menu-b-container">
                    <div id="hamburger-b"><div class=hbm></div><div class=hbm></div><div class=hbm></div></div>
                </div>
                <div class="logo-b-container">
                    <h1 class="logo-b">Vytex</h1>
                </div>
                <div class="profile-b-container">
                    <div class="profile-b">
                        <img src="{{ url_for('static',    filename='./assets/profileButtonPlaceholder.jpg') }}">
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div id="main-header-container">
                <h1>LINE-UP NOW:</h1>
                <form class="search-input-f" id="search-input-id" action="/lineList" method="POST">
                    <input class="search-input" id="si" type="text" name="searchin" placeholder="ENTER VENUE NAME OR LOCATION HERE"/>
                </form>
                <div id="line-list-header">
                    <div></div>
                    <h2>Venue</h2>
                    <h2>Today's Hours</h2>
                    <h2>Select Line</h2>
                    <div></div>
                </div>
            </div>
            <div id="top-list-container">
                <div id="line-list-c-container">
                    <h1>OH NO! We didn't find your venue...</h1>
                    <h3>Please give it another shot, we'll get it right eventually ;)</h3>
                </div>
            </div>
        </main>
        <script type='text/javascript' src="{{ url_for('static',    filename='./src/index.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static',    filename='./src/lineList.js') }}"></script>

    </body>
</html>