<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Vytex</title>
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/variables.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/breakPoints.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/lineList.css') }}">
    </head>
    <body>
        <div class="heroImg"></div>
        <div class="heroImgShadowbox"></div>
        <div id="venueCardShadowbox"></div>
        <div id="venueCardContainer">
            <div id="venueCard">
                <div class="venueImg" id="venueCardImg"></div>
                <div id="venueCardInfoContainer">
                    <div id="venueCardName">Venue Not Found</div>
                    <div id="venueCardHours">8am - 10pm</div>
                    <div id="venueCardLink"><a id="venueCardLinka" href="">Check Out Their Website for more info</a></div>
                </div>
            </div>
            <div id="venueCardDescription">Please close this window and select another venue. If this problem continues please reach out and let us know at CustomerService@Vytex.com</div>
            <div id="venueCardButton"><a>Get In Line</a></div>
            <div id="CloseWindowXVenue">X</div>
        </div>
        <div id="HamburgerMenu">
            <div id="HMContainer">
                <div id="CloseWindowX">X</div>
                <div id="LinkContainer">
                    <a href="/">Join a Line</a>
                    <a>Check your lines</a>
                    <a>Contact Us</a>
                    <a>Logout</a>
                </div>
            </div>
            <a id="HMOffscreen"></a>
        </div>
        <header>
            <div class="hContainer">
                <div class="hamburgerMenuBContainer">
                    <div id="hamburgerB" style="background-color: green;"></div>
                </div>
                <div class="logoBContainer">
                    <h1 class="logoB">Vytex</h1>
                </div>
                <div class="profileBContainer">
                    <div class="profileB">
                        <img src="{{ url_for('static',    filename='./assets/profileButtonPlaceholder.jpg') }}">
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div id="mainheaderContainer">
                <h1>LINE-UP NOW:</h1>
                <form>
                    <input type="text" placeholder="ENTER VENUE NAME OR LOCATION HERE">
                </form>
                <div id="lineListHeader">
                    <div></div>
                    <h2>Venue</h2>
                    <h2>Todays Hours</h2>
                    <h2>Select Line</h2>
                    <div></div>
                </div>
            </div>
            <div id="topListContainer">
                <div id="lineListContainer">
                    <h1>OH NO! We didn't find your venue...</h1>
                    <h3>Please give it another shot, we'll get it right eventually ;)</h3>
                </div>
            </div>
        </main>
        <script type='text/javascript' src="{{ url_for('static',    filename='./src/index.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static',    filename='./src/lineList.js') }}"></script>
        
        <script>
            
        </script>

    </body>
</html>