<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Vytex</title>
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/variables.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/breakPoints.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/contactus.css') }}">
    </head>
    <body>
        <div class="heroImg2"></div>
        <div class="heroImgShadowbox"></div>
        <div id="HamburgerMenu">
            <div id="HMContainer">
                <div id="CloseWindowX">X</div>
                <div id="LinkContainer">
                    <a href="/home">Join a Line</a>
                    <a href="/userLines">Check your lines</a>
                    <a href="/contact">Contact Us</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <a id="HMOffscreen"></a>
        </div>
        <header>
            <div class="hContainer">
                <div class="hamburgerMenuBContainer">
                    <div id="hamburgerB">
                        <div class=hbm></div>
                        <div class=hbm></div>
                        <div class=hbm></div>
                    </div>
                </div>
                <div class="logoBContainer">
                    <h1 class="logoB">Vytex</h1>
                </div>
                <div class="profileBContainer">
                    <div class="profileB">
                        <a href="/profile">
                            <img class="containerimg" src="{{ image_file }}">
                        </a>
                    </div>
                </div>
            </div>
        </header>
            <main>
                <h2 class="contacttitle">
                    Contact Us
                </h2>
                <p class="descriptiontext">
                    We'd love to hear from you!<br>
                    We are a small group of developers based out of Vancouver BC,<br>
                    and we are always open to ideas and suggestions to improve the experience for everyone.
                </p>
                <div class="wrapper">
                    <div class="unruly3">
                        <img class="phoneicon" src="{{ url_for('static',    filename='./assets/phone.jpg') }}">
                        <div class="callus">
                            Call Us
                        </div>
                        <div class="phonenumber">
                            604-405-9391
                        </div>
                        <div class="phonetext">
                            Give us a call anytime, We'd <br> 
                            love to hear from you <br> 
                        </div>
                    </div>
                    <div class="unruly3">
                        <img class="emailicon" src="{{ url_for('static',    filename='./assets/emailicon.png') }}">
                        <div class="email">
                            Email
                        </div>
                        <div class="emailaddress">
                            customer_support@vytex.com
                        </div>
                        <div class="emailtext">
                        Send us an email and let us <br> 
                        know how we're doing <br> 
                        </div>
                    </div>
                
                    <div class="unruly3">
                        <img class="mailicon" src="{{ url_for('static',    filename='./assets/themail.png') }}">
                        <div class="snailmail">
                            SnailMail
                        </div>
                        <div class="snailmailaddress">
                            4503 Bright St Vancouver BC<br>
                            V6W 2I4
                        </div>
                        <div class="snailmailtext">
                        Like sending paper letters? We <br> 
                        love getting them! <br>
                        </div>
                    </div>
                </div>
        
            <div class ="grid-container"></div>
            </main>
        <script type='text/javascript' src="{{ url_for('static',    filename='./src/index.js') }}"></script>

    </body>
</html>