<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Oh no...You're Not on the List</title>
        <link rel="icon" href="{{ url_for('static',    filename='assets/android-chrome-192x192.png') }}" type="image/png" sizes="192x192">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/variables.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/breakPoints.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/userLines.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"> 
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap"> 
    </head>
    <body>
        <div class="back-img"></div>
        <div class="hero-img-shadow-box"></div>
        <div id="hamburger-menu">
            <div id="hm-container">
                <div id="close-window-x">X</div>
                <div id="link-container">
                    <a href="/home">Join a Line</a>
                    <a>Contact Us</a>
                    <a>Logout</a>
                </div>
            </div>
            <a id="hm-offscreen"></a>
        </div>

        <header>
            <div class="h-container">
                <div class="hamburger-menu-b-container">
                    <div id="hamburger-b"><div class=hbm></div><div class=hbm></div><div class=hbm></div></div>
                </div>
                <div class="logo-b-container">
                    <h1 class="logo-b">Vytex</h1>
                </div>
                <div class="profile-b-container">
                    <div class="profile-b">
                        <img src="{{ url_for('static',    filename='./assets/profileButtonPlaceholder.jpg') }}">
                    </div>
                </div>
            </div>
        </header>

        <main>
            <div id="big-header-container">
                <h1>Your Lines</h1>
                <div class="user-list-header">
                    <div class= "item-1"></div>
                    <div class="item-2">Venue</div>
                    <div class= "item-3">Time</div>
                    <div class= "item-4">Status</div>
                    <div class= "item-5"></div>
                </div>
            </div>
            <div id="line-spots-container">
                <div id="user-spot-container">
                    <div class="line-list-item-container">
                        <h3>You're not in any lines :(</h3>
                  
                </div>
            </div>
        </main>
        <script type='text/javascript' src="{{ url_for('static',    filename='./src/index.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static',    filename='./src/linelist.js') }}"></script>
        

    </body>
</html>