<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='styles/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='styles/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='styles/breakPoints.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',    filename='styles/userLines.css') }}">
    <title>Your Lines</title>
</head>
<body>
<h1>Your Lines</h1>

<Table>
    <tr>
        <th>Venue</th>
        <th>Time</th>
    </tr>
    <tr>
        <td>{{ venue.</td>
        <td>{{</td>
        
    </tr>
</Table>

    
</body>
</html>