#first-history-container {
    height: calc(100% - 17vw);
    overflow: scroll;
}

#main-header-container {
 height: 15vw;
 cursor: default;
 align-content: center;
}

#main-header-container>h1 {
    margin-top: 2vw;
    margin-left: 2.5vw;
    font-size: 2.5vw;
    color: var(--vyWhite);
    font-family: 'Pathway Gothic One', cursive;
}

main {
    height: calc(100% - 5vw);
}

body {
    justify-content: center;
}

input {
    margin: 2.5vw;
    width: 22vw;
    height: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-family: 'Pathway Gothic One', cursive;
}

.search-input {
    cursor: text;
}

.line-list-item-container, #line-list-header, #line-list-header-2 {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr 1fr 1fr;
    height: 6vw;
    color: var(--vyWhite);
}

.line-list-item-container {
    grid-template-columns: .5fr 1fr 1fr 1.6fr;
    display: grid;
    height: 6vw;
    color: var(--vyWhite);
}

#top-list-container {
    height: calc(100% - 17vw);
    overflow: scroll;
}

.line-list-item-container {
    padding: 1vw 0vw;
}

.line-list-item-container:nth-child(even) {
    background-color: rgba(0, 0, 0, .5);
}
.line-list-item-container:nth-child(odd) {
    background-color: rgba(0, 0, 0, .2);
}

.venue-name, .venue-hours, .line-times-f, .line-times-button-container, #line-list-header h2, #line-list-header-2 h2, #line-times, #line-time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: 'Pathway Gothic One', cursive;
}

.venue-hours {
    cursor: default;
}
.venue-name, .line-times, .line-times-button-container, input {
    cursor: pointer;
}

.venue-img {
    background-color: aqua;
    width: 50%;
    border-radius: 100%;
    margin-left: 2.5vw;
    overflow: hidden;
}

img {
    max-width: 100%;
    min-height: 100%;
}

.hero-img {
    background-image: url("../assets/453169\ from\ Pixabay.jpg");
}

#line-list-header, #line-list-header-2 {
    background-color: rgba(0, 0, 0, .7);
    align-items: center;
    

    
}

#venue-card-container {
    display: none;
    position: absolute;
    width: 60vw;
    height: 25vw;
    background-color: var(--vyGrey);
    grid-template-rows: 1fr 1fr .3fr;
    border-radius: 20px;
    font-family: 'Pathway Gothic One', cursive;
    
}
#venue-card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#venue-card-img {
    width: 15%;
    height: 70%;
    background-color: brown;
    margin-left: 2vw;
}

#venue-card-shadow-box {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vw;
    opacity: .5;
    background-color: black;
}

#venue-card-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 70%;
    height: 90%;
    font-size: 1.5vw;
    color: var(--vyWhite);
}

#venue-card-description {
    width: 90%;
    height: 90%;
    margin: auto;
    overflow: auto;
    font-size: 1vw;
    color: var(--vyWhite);
}

#venue-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#venue-card-button>a {
    background-color: var(--vyWhite);
    color: black;
    padding: .4vw;
    margin-bottom: .5vw;
    border-radius: 7px;
}

#close-window-x-venue {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 1px solid black;
    border-radius: 100%;
    width: 1vw;
    height: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}