
<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Vytex</title>
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/variables.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/breakPoints.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/header.css') }}">
    
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/create.css') }}">
    </head>
    <body>
        <div class="heroImg2"></div>
        <div class="heroImgShadowbox"></div>
        <div id="HamburgerMenu">
            <div id="HMContainer">
                <div id="CloseWindowX">X</div>
                <div id="LinkContainer">
                    <a href="/home">Join a Line</a>
                    <a href="/userLines">Check your lines</a>
                    <a href="/contact">Contact Us</a>
                    <a href="/logout">Logout</a>
                </div>
            </div>
            <a id="HMOffscreen"></a>
        </div>
        <header>
            <div class="hContainer">
                <div class="hamburgerMenuBContainer">
                    <div id="hamburgerB">
                        <div class=hbm></div>
                        <div class=hbm></div>
                        <div class=hbm></div>
                    </div>
                </div>
                <div class="logoBContainer">
                    <h1 class="logoB">Vytex</h1>
                </div>
                <div class="profileBContainer">
                    <div class="profileB">
                        <img src="{{ url_for('static',    filename='./assets/profileButtonPlaceholder.jpg') }}">
                    </div>
                </div>
            </div>
        </header>
            <main>
                <div class="wrapper2">
                    <h2 class="unruly2">CREATE PROFILE</h2>
                    <p class="unruly5">Sign Up </p>
                    <p class="subtitles">Never wait in line again, ever.</p>
                </div>
                {% block content %}
                <div class="wrapper3">
                    <form method="POST" action="/signup">
                        <div class="searchInputContainer2">
                            <input class="input is-large" type="email" name= "email" placeholder="Email" autofocus="">
                        </div>
                        <div class="searchInputContainer2">
                            <input class="input is-large" type="text" name="username" placeholder="Username" autofocus="">
                        </div>
                        <div class="searchInputContainer2">
                            <input class="input is-large" type="password" name="password" placeholder="Password">
                        </div>
                        <select class="imageSelector" name="image2">
                            <option value="avatar1.png">Avatar One</option>
                            <option value="avatar2.png">Avatar Two</option>
                            <option value="avatar3.png">Avatar Three</option>
                            <option value="avatar4.png">Avatar Four</option>
                        </select>
                        <button class="searchInputB">Sign Up</button>
                    </form>
                    <p class="subtitles">
                        By signing up you agree to our Terms & Conditions
                    </p>
                </div>
                {% endblock %}
                <div class ="grid-container"></div>
            </main>
        <script type='text/javascript' src="{{ url_for('static',    filename='./src/index.js') }}"></script>
    


 


