<!DOCTYPE html>
<html lang='en-us'>
    <head>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Vytex</title>
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/variables.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/breakPoints.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/global.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',    filename='styles/admin.css') }}">
    </head>
    <body>
        <header>
        </header>
        <main>
            <form id="add-venue" action="/admin-api" method="POST">
                <input id="venue-name" type="text" name="venue-name" placeholder="venue Name"/>
                <input id="description" type="text" name="description" placeholder="description"/>
                <input id="venue-icon" type="text" name="venue-icon" placeholder="venue Icon Address"/>
                <input id="venue-city" type="text" name="venue-city" placeholder="venue City"/>
                <input id="venue-url" type="text" name="venue-url" placeholder="venue-url"/>
                <input id="mon-s" type="text" name="mon-s" placeholder="Mon Opening Time 9:00"/>
                <input id="mon-e" type="text" name="mon-e" placeholder="mon Closing Time 9:00"/>

                <input id="tues-s" type="text" name="tues-s" placeholder="tues Opening Time 9:00"/>
                <input id="tues-e" type="text" name="tues-e" placeholder="tues Closing Time 9:00"/>

                <input id="wed-s" type="text" name="wed-s" placeholder="wed Opening Time 9:00"/>
                <input id="wed-e" type="text" name="wed-e" placeholder="wed Closing Time 9:00"/>

                <input id="thur-s" type="text" name="thur-s" placeholder="thur Opening Time 9:00"/>
                <input id="thur-e" type="text" name="thur-e" placeholder="thur Closing Time 9:00"/>

                <input id="fri-s" type="text" name="friS" placeholder="fri Opening Time 9:00"/>
                <input id="fri-e" type="text" name="friE" placeholder="fri Closing Time 9:00"/>

                <input id="sat-s" type="text" name="sat-s" placeholder="sat Opening Time 9:00"/>
                <input id="sat-e" type="text" name="sat-e" placeholder="sat Closing Time 9:00"/>

                <input id="sun-s" type="text" name="sun-s" placeholder="sun Opening Time 9:00"/>
                <input id="sun-e" type="text" name="sun-e" placeholder="sun Closing Time 9:00"/>

                <input id="cap" type="number" name="cap" placeholder="line capacity per timeslot"/>
                
                <input type="submit" value="Create New Venue"/>
            </form>
            <form id="add-list" action="/admin-api" method="POST">
                <input id="venue-id" type="text" name="venue-id" placeholder="venue-id"/>
                <input id="capacity" type="text" name="capacity" placeholder="capacity"/>
                <input type="submit" value="Create New Line List for venue-id"/>
            </form>
            <form id="delete-venue" action="/admin-api/delete" method="POST">
                <input id="venue-id" type="text" name="venue-id" placeholder="Venue ID You Want To Delete"/>
                <input type="submit" value="Delete Above Venue and all its lines"/>
            </form>
            <form id="delete-list" action="/admin-api/delete" method="POST">
                <input id="venue-id" type="text" name="venue-id" placeholder="Venue ID for the list You Want To Delete"/>
                <input id="date" type="text" name="date" placeholder="date for the list You Want To Delete 11/20/11"/>
                <input type="submit" value="Delete Above Line"/>
            </form>
            <form id="return-all" action="/admin-api" method="GET">
                <input type="submit" value="Return All Venues and lists"/>
            </form>
        </main>
        <script type='text/javascript' src="{{ url_for('static',    filename='./src/admin.js') }}"></script>
    </body>
</html>